

.navbar {
    width: 100%;
    height: 9%;
    background-color:#81b1ce;
    text-align: center;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.link {
    margin-right: 1%;
    color: black;
}

.nav-logo {
    height: 80%;
    width: 5%;
    background-image: url('../../assets/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 60%;
    transition: ease-out 0.1s;
}

.nav-logo:hover {
    transform: scale(1.05, 1.05);
    transition: ease-in 0.1s;
    
}
