

.shoplogin-container {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: cornflowerblue;
}

.shoplogin-box {
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 20vw;
    border-radius: 7px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.shoplogin-h1 {
    font-weight: 700;
    margin-top: 15%;
    margin-bottom: 0;
    font-size: x-large;
}

.shoplogin-p {
    margin-top: 5%;
    font-size: small;
    margin-bottom: 17%;
}

.shoplogin-label {
    font-size: 85%;
}

.shoplogin-textarea {
    border: white;  
    margin-bottom: 20%;  
    border-radius: 5px;
    font-family: 'Space Grotesk', sans-serif;
}

.shop-signin {
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    margin-top: 10%;
    border: white;
    background-color:palevioletred;
    color: white;
    border-radius: 5px;
    width: 50%;
    height: 6%;
    margin-bottom: 10%;
}

.shop-signin:hover {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    opacity: 50%;
    cursor: pointer;
}

.shop-signup-link {
    font-weight: 400;
    font-size: x-small;
}


